@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350;400;469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  background: #191d21; display: overlay;
}
::-webkit-scrollbar {
  width: 7px;
  z-index: 1;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #ff4a4a;
  z-index: 1;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  z-index: 1;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
  border-top: 5px solid #ff4a4a; margin-top: 0;
}
#img1 {
    position: absolute; background-position: center;
    top: 100vh; width: 100%; background-size: cover;
}
#img2 {
    position: absolute; background-position: center;
    top: 200vh; width: 100%; background-size: cover;
}
#img3 {
    position: absolute; background-position: center;
    top: 300vh; width: 100%; background-size: cover;
}
#img4 {
    position: absolute; background-position: center;
    top: 400vh; width: 100%; background-size: cover;
}
#img5 {
    position: absolute; background-position: center;
    top: 500vh; width: 100%; background-size: cover;
}
#img6 {
    position: absolute; background-position: center;
    top: 600vh; width: 100%; background-size: cover;
}
#img7 {
    position: absolute; background-position: center;
    top: 700vh; width: 100%; background-size: cover;
}
#img8 {
    position: absolute; background-position: center;
    top: 800vh; width: 100%; background-size: cover;
}
#img9 {
    position: absolute; background-position: center;
    top: 900vh; width: 100%; background-size: cover;
}
#img10 {
    position: absolute; background-position: center;
    top: 1000vh; width: 100%; background-size: cover;
}

#contactContent {
  margin-top: 950vh;
}