#aboutall, #goalsall {
    margin-left: auto; margin-right: auto; display: flex; border: none;
    width: 1000px;
}
#content-about, #content-goals {
    position: relative; font-family: "Open Sans"; border: none;
    margin-top: 10px; padding-left: 0px; padding-right: 35px;
    text-align: left; background: #fadcdc; padding-top: 50px;
    padding-bottom: 50px; right: 0; left: 0;
    line-height: 30px;
}

#content-goals {
    margin-top: 50px;
}
#about-image {
    border-radius: 15px; box-shadow: 0px 0px 0px black;
    border: 3px solid #ff4a4a; margin-left: 100px;
    margin-top: 60px; object-fit: cover; background-size: cover; 
    background-repeat: no-repeat; background-attachment: fixed;
    width: 500px; height: 300px;
}

#spacer {
    height: 550px; background: white;
}
#spacer2 {
    height: 200px; background: white;
}
#content-goals {
    position: relative; background: #dcf3fa;
}

#content-goals-image {
    object-fit: cover; border-radius: 100000px;
    border: 3px solid #ff4a4a; margin-left: 150px;
}

#content-about-header, #content-goals-header {
    font-family: "Oswald";
    font-size: 30px; padding-left: 20px;
    border-left: 2px solid #ff4a4a;
}
#content-goals-header {
    border-left: 2px solid #358fc4;
}

#abouttext, #goalstext {
    font-family: "Open Sans";
    width: 400px; padding-left: 20px;
    border-left: 2px solid #ff4a4a;
    margin-top: -30px;
}
#goalstext {
    border-left: 2px solid #358fc4;
}
#content-about-text, #content-goals-text {
    margin-top: -25px;
    font-size: 17px;
}
#also {
    left: 0; right: 0; margin-top: 50px; position: relative; background: #23313b;
    height: 500px; font-family: "Roboto Condensed"; font-size: 20px; text-align: center;
    padding-bottom: 150px; color: black; padding-top: 50px;
}
#alsotext {
    line-height: 40px; color: white; letter-spacing: 1px; border-bottom: 2px solid white; width: 60vw;
    margin-right: auto; margin-left: auto; padding-top: 25px; padding-bottom: 50px;
}
#mask1 {
    object-fit: cover; margin-top: 55px; border: 3px solid #ff4a4a;
    border-top-left-radius: 15px; border-bottom-left-radius: 15px;
}
#mask2 {
    object-fit: cover; border: 3px solid #ff4a4a;
    border-top-right-radius: 15px; border-bottom-right-radius: 15px;
}
#achieve {
    left: 0; right: 0; margin-top: 10px; position: relative; background: #694141;
    height: 500px; font-family: "Roboto Condensed"; font-size: 20px; text-align: center;
    padding-bottom: 170px; color: black; padding-top: 50px;
}
#achievetext {
    line-height: 40px; color: white; letter-spacing: 1px; border-bottom: 2px solid white; width: 60vw;
    margin-right: auto; margin-left: auto; padding-top: 25px; padding-bottom: 50px;
}
.emphasistext {
    color: #ff4a4a;
}
#achieveimg {
    object-fit: cover; margin-top: 55px; border: 3px solid #bcefff;
    border-radius: 15px;
}
#donateNow {
    left: 0; right: 0; margin-top: 200px;
    background: white; padding-top: 20px; position: relative;
    height: 400px; font-family: "Oswald"; font-size: 30px; text-align: center;
    color: #ff4a4a; line-height: 15px;
}
#donateNowButton {
    margin-top: 50px; text-decoration: none;
    border: 2px solid #ff4a4a; color: white;
    padding-left: 40px; padding-right: 40px;
    padding-top: 7px; padding-bottom: 10px;
    background: #ff4a4a; transition: background 0.1s;
    transition: color 0,1s;
}
#donateNowButton:hover {
    background: black;
    color: #ff4a4a;
}

#donateNowTextSmall {
    font-size: 23px; font-family: "Open Sans"; color: black;
}