@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350;400;469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body {
  padding: 0; margin: 0;
}
body {
  overflow: overlay; background: #191d21;
}
::-webkit-scrollbar {
  width: 7px;
  z-index: 1;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #ff4a4a;
  z-index: 1;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  z-index: 1;
}

#p1, #p2, #p3, #p4 {
  position: absolute; width: 25vw; height: 600px; cursor: pointer;
}
#p1:hover #ptitle{border-top: 4px solid #ff4a4a; border-bottom: 4px solid #ff4a4a;}
#p2:hover #ptitle{border-top: 4px solid #ff4a4a; border-bottom: 4px solid #ff4a4a;}
#p3:hover #ptitle{border-top: 4px solid #ff4a4a; border-bottom: 4px solid #ff4a4a;}
#p4:hover #ptitle{border-top: 4px solid #ff4a4a; border-bottom: 4px solid #ff4a4a;}

#text1, #text2, #text3, #text4 {
  padding-left: 40px; padding-right: 40px; padding-top: 40px;
}
#p1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/p1jerry.png");
  background-position: center; background-size: cover; transition: background-image 0.3s; color: transparent; transition: color 0.5s;
}
#p1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/p1jerry.png");
  background-position: center; background-size: cover; color: white;
}
#p2 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/p2richard2.png");
  left: 50vw; background-position: left; background-size: cover; transition: background-image 0.3s; color: transparent; transition: color 0.5s;
}
#p2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/p2richard2.png");
  background-position: center; background-size: cover; color: white;
}
#p3 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/p3joshua.png");
  left: 25vw; background-position: center; background-size: cover; transition: background-image 0.3s; color: transparent; transition: color 0.5s;
}
#p3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/p3joshua.png");
  background-position: center; background-size: cover; color: white;
}
#p4 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/p4eric.png");
  left: 75vw; background-position: center; background-size: cover; transition: background-image 0.3s; color: transparent; transition: color 0.5s;
}
#p4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/p4eric.png");
  background-position: center; background-size: cover; color: white;
}
#otitle {
  position: absolute; top: 105vh; font-size: 60px; color: #ff4a4a; font-family: "Oswald";
  left: 50%; transform: translate(-50%, 0%);
}
#ptitle {
  border-top: 4px solid transparent; border-bottom: 4px solid transparent; transition: border-top 0.3s;
  transition: border-bottom 0.3s; font-size: 60px; font-family: "Oswald";padding:0;
}
#pcontent {
  font-size: 15px; font-family: "Open Sans"; line-height: 25px;
}

#contactContent {
  margin-top: 600px;
}
#teamsection {
  overflow-x: hidden;
}