@media only screen and (max-width: 1020px) {
    #volunteer-image {
        margin-left: auto;
        margin-right: auto;
    }

    #volunteers {
        padding: 20px;
        width: auto;
        padding-bottom: 50px;
    }

    #mask {
        width: auto;
        padding: 20px;
        padding-bottom: 80px;
    }

    .article-body {
        width: auto;
        height: 500px;
        font-size: 40px;
        padding-bottom: 30px;
    }
    .article-image {
        width: auto;
        max-width: 100%;
        height: 500px;
    }
    .article-text {
        font-size: 20px;
    }
    #title-image {
        margin-top: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #title {
        margin-top: 20px;
    }
    #title-name {
        margin-top: 300px;
        margin-bottom: auto;
    }

    #section {
        margin-top: 0px;
        width: 100%;
    }

    #section-header, #goals-header {
        font-size: 100px;
        margin-bottom: 0;
        margin-top: 40px;
        display: block;
        width: auto;
    }
    #section-info {
        padding-top: 0;
        display: block;
    }
    #section-desc, #goals-desc {
        font-size: 40px;
        line-height: 75px;
        height: 1000px;
    }
    #section-image {
        width: 1000px;
        height: 600px;
    }
    #news {
        display: block;
        padding-bottom: 100%;
    }
    #contact {
        display: block;
    }
    .article {
        margin-top: 100px;
    }
    .article-header {
        font-size: 50px;
    }
    .article-text {
        font-size: 40px;
    }
    .article-more {
        font-size: 50px;
    }


}
